.header{
    margin-bottom: 30px;
    font-size: large;
}

.nav{
    margin: 10px;
}

.main{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;
}